<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" integrity="sha512-oHDEc8Xed4hiW6CxD7qjbnI+B07vDdX7hEPTvn9pSZO1bcRqHp8mj9pyr+8RVC2GmtEfI2Bi9Ke9Ass0as+zpg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/auth.css}">
    <script src="https://kit.fontawesome.com/695a12fc7e.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/prefixfree.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script th:src="@{/js/auth/auth-login.js}" defer></script>
    <title>Login</title>
</head>
<body>
<section class="auth-container">
    <div class="logo-container">
        <a href="/"><p class="logo inter_bold">?</p></a>
    </div>

    <!-- 현재 로그인된 계정 정보 표시 -->
    <div th:if="${userEmail}" class="error-message-box">
        <p class="auth-title">현재 로그인된 계정</p>
        <p class="auth-description">
            <b th:text="${userEmail}"></b> 계정으로 로그인되어 있습니다.
        </p>
        <div class="auth-options">
            <button onclick="location.href='/logout'" class="bg_red">로그아웃</button>
        </div>
        <div class="auth-options">
            <button onclick="location.href='/users'" class="bg_red">마이 페이지</button>
        </div>
        <div class="auth-options">
            <button onclick="location.href='/'" class="bg_red">메인 페이지</button>
        </div>
    </div>

    <!-- 로그인 버튼 -->
    <div th:if="${userEmail == null}" class="auth-options">
        <button class="bg_gray_light" onclick="location.href='/auth/google/login'">
            <img th:src="@{/images/common/logo-google.png}" alt="Google">Google로 계속하기
        </button>
        <button class="bg_gray_light" onclick="location.href='/auth/kakao/login'">
            <img th:src="@{/images/common/logo-kakao.png}" alt="Kakao">Kakao로 계속하기
        </button>
        <button class="bg_gray_light" onclick="location.href='/auth/naver/login'">
            <img th:src="@{/images/common/logo-naver.png}" alt="Naver">Naver로 계속하기
        </button>
    </div>

    <p class="auth-agreement">
        다음 단계로 진행하시면, 귀하는 <a class="no-flex" href="#">서비스 약관</a>에 동의하며,
        <a class="no-flex" href="#">쿠키 정책</a>을 포함한 <a class="no-flex" href="#">개인정보 처리방침</a>을 읽고 동의하신 것으로 간주됩니다.
    </p>
</section>
</body>
</html>