<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" integrity="sha512-oHDEc8Xed4hiW6CxD7qjbnI+B07vDdX7hEPTvn9pSZO1bcRqHp8mj9pyr+8RVC2GmtEfI2Bi9Ke9Ass0as+zpg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/auth.css}">
    <script src="https://kit.fontawesome.com/695a12fc7e.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/prefixfree.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--<script th:src="@{/js/auth.js}" defer></script>-->
    <title>Social-mismatch</title>
</head>
<body>
<section class="auth-container">
    <div class="logo-container">
        <p class="logo inter_bold">?</p>
    </div>

    <div class="social-mismatch-box">
        <p class="auth-title">이 계정은 Google로 가입되어 있습니다.</p>
        <p class="auth-description">기존 계정으로 로그인하여 서비스를 이용해 주세요.</p>
        <div class="auth-options">
            <button class="bg_gray_light">
                <img th:src="@{/images/common/logo-google.png}" alt="Google">Google로 계속하기
            </button>
        </div>
    </div>

    <div class="empty-space"></div>
</section>
</body>
</html>