<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/chat/chat-profile-popup.css}">
    <title>이거?저거?</title>
</head>
<body>
<!-- 작업할 공간 -->
<div layout:fragment="content">
    <article>
        <section class="post_section_bottom">
            <div>
                <button id="open-chat-profile-popup" class="btn_large bg_pink"><span>채팅</span></button>
            </div>
        </section>
        <div id="popup-section" class="popup_section">
            <!-- 딤 배경 -->
            <div class="dim_box"></div>

            <!-- 토스트 팝업 (하단 슬라이드 팝업) -->
            <div id="toast-popup-box" class="toast_popup_box">
                <div class="popup_header">
                    <p>채팅프로필 설정</p>
                    <i class="close_popup_btn fa-solid fa-xmark"></i>
                </div>

                <div class="popup_content">
                    <!-- 프로필 이미지 설정 -->
                    <div class="profile_image_wrapper">
                        <img class="profile_image" src="/images/common/logo.png" alt="profile-image">
                        <i class="fa-solid fa-pencil image_edit_icon"></i>
                    </div>

                    <!-- 닉네임 설정 -->
                    <div class="chat_nickname_wrapper">
                        <input type="text" class="chat_nickname_input" placeholder="닉네임을 입력해주세요." maxlength="15">
                        <p class="char_count_display"><span></span>/15</p>
                    </div>

                    <!-- 선택지 (부먹, 중립, 찍먹) -->
                    <div class="preference_options">
                        <fieldset>
                            <label>
                                <input type="radio" name="selectOne" value="blue" />
                                <span>부먹</span>
                            </label>
                            <label>
                                <input type="radio" name="selectOne" value="neutral" checked/>
                                <span>중립</span>
                            </label>
                            <label>
                                <input type="radio" name="selectOne" value="orange" />
                                <span>찍먹</span>
                            </label>
                        </fieldset>
                    </div>

                    <!-- 입장 버튼 -->
                    <button class="btn_medium btn_join_chat">
                        입장하기
                    </button>
                </div>
            </div>
        </div>
    </article>
    <script src="js/chat/chat-profile-popup.js"></script>
</div>
</body>
</html>