<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/chat/chat-room.css}">
    <script th:src="@{/js/chat/chat-room.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이거?저거?</title>
</head>
<body>
<!-- 작업할 공간 -->
<div layout:fragment="content">
    <article class="chat_room">
        <div class="chat_header">
            <i id="btn-back" class="fa-solid fa-chevron-left"></i>
            <div id="chat-topic-wrapper" class="chat_topic_wrapper" >
                <span id="chat-topic" class="chat_topic" th:text="${title}"></span>
            </div>
            <div class="user_count_wrapper">
                <i class="fa-solid fa-user-group"></i>
                <span id="user-count" class="user_count">0</span>
            </div>
        </div>
        <div id="chat-container" class="chat_container">
            <div id="vote-rate" class="vote_rate">
                <div class="vote_rate_header">
                    <div class="vote_rate_info">
                        <div class="vote_count_wrapper">
                            <i class="fa-solid fa-chart-simple"></i>
                            <span>투표수</span>
                            <span id="vote-count" class="vote_count" th:text="${voteResult.totalVotes}">0</span>
                        </div>
                        <div id="vote-reload-wrapper" class="vote_reload_wrapper visible">
                            <span id="last-reload-time" class="last_reload_time">방금 전</span>
                            <i id="btn-vote-reload" class="reload_btn fa-solid fa-rotate-right"></i>
                        </div>
                    </div>
                    <i id="collapse-btn" class="collapse_btn fa-solid fa-chevron-down"></i>
                </div>
                <div id="vote-bar" class="vote_bar visible">
                    <span class="no_vote_message" th:if="${voteResult.totalVotes == 0}"> 아직 투표가 없습니다. 여러분의 참여를 기다립니다!⏳</span>
                    <div id="blue_bar" class="blue_bar"
                         th:style="'width: ' + ${voteResult.option1Percentage} + '%;'">
                        <span th:if="${voteResult.option1Percentage} > 6">
                            [[${#numbers.formatInteger(voteResult.option1Percentage, 0)}]]%
                        </span>
                    </div>
                    <div id="orange-bar" class="orange_bar"
                         th:style="'width: ' + ${voteResult.option2Percentage} + '%;'">
                        <span th:if="${voteResult.option2Percentage} > 6">
                            [[${#numbers.formatInteger(voteResult.option2Percentage, 0)}]]%
                        </span>
                    </div>
                </div>
            </div>
            <!-- 타임리프 반복문으로 이전 메시지 출력 -->
            <div id="message-list" class="message_list">
                <div th:each="message : ${previousMessages}">
                    <!-- userId가 일치하는 경우 'my_message' -->
                    <div th:if="${message.userId == userId}" class="my_message">
                        <p th:class="'message_box bg_' + ${message.selectedOption}">
                            <span class="message_content" th:text="${message.content}"></span>
                        </p>
                        <div class="image_wrapper">
                            <img class="profile_image" th:src="@{${message.profileImage}}" />
                        </div>
                    </div>
                    <!-- userId가 일치하지 않는 경우 'other_message' -->
                    <div th:if="${message.userId != userId}" class="other_message">
                        <div class="image_wrapper">
                            <img class="profile_image" th:src="@{${message.profileImage}}" />
                        </div>
                        <div class="message_wrapper">
                            <p class="chat_nickname" th:text="${message.nickname}"></p>
                            <p th:class="'message_box bg_' + ${message.selectedOption}">
                                <span class="message_content" th:text="${message.content}"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="message-input-container" class="message_input_container">
            <p id="message-input" class="message_input" contenteditable="true" data-placeholder="메시지를 입력해주세요."></p>
            <i id="btn-send" class="send_btn fa-solid fa-arrow-up" th:data-user-id="${userId}" th:data-post-id="${postId}"></i>
        </div>
    </article>
</div>
</body>
</html>