<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/chat/chat-room.css}">
    <script th:src="@{/js/chat/chat-room.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이거?저거?</title>
</head>
<body>
<!-- 작업할 공간 -->
<div layout:fragment="content">
    <article class="chat_room">
        <div class="chat_header">
            <i class="fa-solid fa-chevron-left"></i>
            <span class="chat_topic" th:text="${title}">채팅 주제</span>
            <span class="user_count_wrapper">
                <i class="fa-solid fa-user-group"></i>
                <span id="user-count" class="user_count">0</span>
            </span>
        </div>

        <div id="message-list" class="message_list">
            <div class="vote_rate">
                <div class="vote_rate_header">
                    <span class="vote_rate_info">
                        <span class="vote_label">투표율</span>
                        <span class="vote_count"><i class="fa-solid fa-chart-simple"></i>0</span>
                    </span>
                    <i class="collapse_btn fa-solid fa-chevron-down"></i>
                </div>
                <div class="vote_bar">
                    <div class="blue_percentage">91%</div>
                    <div class="orange_percentage"></div>
                </div>
            </div>
            <!-- 타임리프 반복문으로 이전 메시지 출력 -->
            <div th:each="message : ${previousMessages}">
                <!-- userId가 일치하는 경우 'my_message' -->
                <div th:if="${message.userId == session.userId}" class="my_message">
                    <p class="message_box bg__[[${message.selectedOption}]]">
                        <span th:text="${message.content}"></span>
                    </p>
                    <div class="image_wrapper">
                        <img class="profile_image" th:src="@{${message.profileImg}}" />
                    </div>
                </div>

                <!-- userId가 일치하지 않는 경우 'other_message' -->
                <div th:if="${message.userId != session.userId}" class="other_message">
                    <div class="image_wrapper">
                        <img class="profile_image" th:src="@{${message.profileImg}}" />
                    </div>
                    <div class="message_wrapper">
                        <p class="chat_nickname" th:text="${message.nickname}"></p>
                        <p class="message_box bg__[[${message.selectedOption}]]">
                            <span th:text="${message.content}"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="chat_input_box">
            <textarea id="message-input" class="chat_input" placeholder="메시지를 입력해주세요."></textarea>
            <i id="btn-send" class="send_btn fa-regular fa-paper-plane"
               data-user-id="[[${userId}]]" data-post-id="[[${postId}]]"></i>
        </div>
    </article>
</div>
</body>
</html>