<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/post.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/js/post.js}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>새 글 작성</title>
</head>
<body>
<!-- 작업할 공간 -->
<div layout:fragment="content">
    <article>
        <section class="post_section_top">
            <div><i class="fa-solid fa-chevron-left"></i></div>
            <div><i></i></div>
        </section>
        <form th:action="@{/post/create}" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
            <section class="post_create_section">
                <h2>카테고리</h2>
                <div class="admin_bottom_box"> <!-- 이 부분 수정 하기 -->
                    <div class="keyword_box" id="categoryBox">
                        <div class="keyword selected" onclick="selectCategory(this)">자유</div>
                        <div class="keyword" onclick="selectCategory(this)">고민</div>
                        <div class="keyword" onclick="selectCategory(this)">토론</div>
                    </div>
                    <input type="hidden" th:field="${dto.category}" id="selectedCategory" value="자유">
                </div>
            </section>
            <section class="post_create_section">
                <h2>제목</h2>
                <div class="post_create_input">
                    <input id="title" type="text" th:field="${dto.title}"/>
                </div>
            </section>
            <section class="post_create_section">
                <h2>내용</h2>
                <div class="post_create_textarea">
                    <textarea id="content" class="textarea" th:field="${dto.content}"> </textarea>
                </div>
            </section>
            <section class="post_choose_section post_create_section">
                <h2>이미지 선택</h2>
                <div class="choose_top_box">
                    <a href="#1" onclick="document.getElementById('imageFile1').click(); return false;">
                        <img id="preview1" src="/images/common/icon-letter-o.png"
                             alt="Uploaded Image"></a>

                    <a href="#1" onclick="document.getElementById('imageFile2').click(); return false;">
                        <img id="preview2" src="/images/common/icon-letter-x.png"
                             alt="Uploaded Image"></a>
                </div>
            </section>
            <section class="post_create_section post_img_description">
                <h2><a href="" id="postImgDescription">설명 작성 ></a></h2>
            </section>
            <section class="popup_section">
                <div class="dim_box"></div>
                <div class="popup_box post_create_popup_box">
                    <div class="popup_top">
                        <span>설명 작성</span>
                        <a id="postCreateCloseBtn"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                    <div class="popup_content">
                        <label for="option1">선택지1</label>
                        <input type="text" id="option1" placeholder="선택지1에 대한 설명을 작성하세요." th:field="${dto.option1}">

                        <label for="option2">선택지2</label>
                        <input type="text" id="option2" placeholder="선택지2에 대한 설명을 작성하세요." th:field="${dto.option2}">
                    </div>
                    <div class="btn_ok_box">
                        <button id="postCreateOkBtn" class="btn_large bg_gray_light post_create_ok_btn"
                                style="color: black;">확인
                        </button>
                    </div>
                </div>
            </section>
            <section class="post_create_section">
                <div class="btn_box">
                    <button class="btn_large bg_gray post_create_submit_btn">등록</button>
                </div>
            </section>
            <section class="post_create_section">
                <input type="file" name="imageFile1" id="imageFile1" accept="image/*"
                       onchange="previewImage(event, 'preview1')" style="display:none;">
                <input type="file" name="imageFile2" id="imageFile2" accept="image/*"
                       onchange="previewImage(event, 'preview2')" style="display:none;">
            </section>
        </form>

    </article>
    <script>
        // 이미지 선택 시 img 업데이트
        function previewImage(event, previewId) {
            var file = event.target.files[0];
            if (!file) return;
            var reader = new FileReader();
            reader.onload = function () {
                document.getElementById(previewId).src = reader.result;
            };
            reader.readAsDataURL(file);
        }

        // 카테고리 클릭 시 css 및 value 변경
        function selectCategory(selectedDiv) {
            document.querySelectorAll('.keyword').forEach(div => div.classList.remove('selected'));
            selectedDiv.classList.add('selected');
            document.getElementById('selectedCategory').value = selectedDiv.innerText;
        }
    </script>
</div>
</body>
</html>