/* admin - 장혜림 시작 */
.admin_header {
    position: inherit;
}

.admin_header + article {
    margin-top: 0;
}

.this_vs_that {
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 30px;
    font-weight: 600;
    background: radial-gradient(circle, #91c1f0, #c8b7ed, #f2afd1, #ffb2ac, #f0c091);
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    animation: animatedTextGradient 3s linear infinite;
}

.admin_section {
    margin-bottom: 80px;
}

.admin_top_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.admin_top_box div {
    display: flex;
}

article .admin_section:not(:first-child) .admin_bottom_box, .keyword_box {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    padding: var(--space-medium);
    width: 100%;
    height: 200px;
    border: 1px solid #9DC79B;
    border-radius: var(--border-radius);
    overflow-y: auto;
}

.keyword_box {
    height: 200px;
}

.choose_section.keyword, .choose_section.bastard_user {
    margin-right: var(--space-medium);
    margin-bottom: var(--space-medium);
    width: auto;
    height: 20px;
    line-height: 20px;
    padding: 9px 14px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-sizing: content-box;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

:is(.admin_selected, .choose_section:hover, .keyword:hover) {
    border: 1px solid var(--main-color-orange);
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.19), 0 5px 5px rgba(0, 0, 0, 0.23);
}

.admin_add_box {
        display: flex;
        justify-content: end;
        margin-top: 10px;
}

.admin_add_box input {
    margin-right: var(--space-medium);
}

.admin_top_box div form {
    display: flex;
}

.admin_top_box div form button:last-of-type {
    margin-left: 15px;
}

.admin_top_box div form button {
    display: flex;
    align-items: center;
    height: var(--height-xlarge);
}

.admin_top_box div form button span {
    font-weight: 500;
    letter-spacing: -1px;
    font-size: var(--font-size-xlarge);
}

.report_post {
    max-width: 320px;
}

.admin_bottom_box {
    -ms-overflow-style: none;
}

.admin_bottom_box::-webkit-scrollbar {
    width: 20px;
}

.admin_bottom_box::-webkit-scrollbar-thumb {
    background-color: #9DC79B;
    border: 5px solid rgba(255,255,255,1);
    border-radius: 10px;
}

:is(.admin_bottom_box, .admin_choose_bottom_box p)::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

article .admin_section:nth-child(2) .admin_bottom_box {
    height: 500px;
}

.admin_bottom_box .choose_section {
    margin: 0 var(--space-medium) var(--space-medium) 0;
    transition: all 0.25s ease-in-out;
}

.admin_choose_top_box {
    flex-direction: column;
}

.admin_choose_top_img_box {
    display: flex;
}

.admin_choose_top_box p {
    display: flex;
    margin: var(--space-medium) 0;
}

.admin_choose_top_box p span {
    display: block;
    width: 50%;
    text-align: center;
    color: var(--font-color-basic);
}

.admin_choose_bottom_box p {
    margin-bottom: 20px;
    height: auto;
    max-height: 50px;
    overflow: auto;
}

.admin_choose_bottom_box p:first-child {
    max-height: 30px;
}

#adminPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1000;
}

  @keyframes animatedTextGradient {
    to {
      background-position: 200% center;
    }
  }
/* admin - 장혜림 끝 */
