/* admin - 장혜림 시작 */
.admin_header {
    position: inherit;
}

.admin_header + article {
    margin-top: 0;
}

.this_vs_that {
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 30px;
    font-weight: 600;
    background: radial-gradient(circle, #91c1f0, #c8b7ed, #f2afd1, #ffb2ac, #f0c091);
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    animation: animatedTextGradient 3s linear infinite;
}

.admin_section {
    margin-bottom: 80px;
}

.admin_top_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.admin_top_box div {
    display: flex;
}

article .admin_section:not(:first-child) .admin_bottom_box, .keyword_box {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    padding: var(--space-medium);
    width: 100%;
    height: 300px;
    border: 1px solid #333;
    border-radius: var(--border-radius);
    overflow-y: auto;
}

.keyword_box {
    height: 200px;
}

.keyword, .bastard_user {
    margin-right: var(--space-medium);
    margin-bottom: var(--space-medium);
    width: auto;
    height: 20px;
    line-height: 20px;
    padding: 9px 14px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-sizing: content-box;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

:is(.admin_selected, .keyword:hover, .bastard_user:hover) {
    border: 1px solid var(--main-color-orange);
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.19), 0 5px 5px rgba(0, 0, 0, 0.23);
}

.admin_add_box {
        display: flex;
        justify-content: end;
        margin-top: 10px;
}

.admin_add_box input {
    margin-right: var(--space-medium);
}


.admin_bottom_box .choose_section {
    margin: 0 var(--space-medium) var(--space-medium) 0;
}

  @keyframes animatedTextGradient {
    to {
      background-position: 200% center;
    }
  }
/* admin - 장혜림 끝 */
