/* admin - 장혜림 시작 */
.admin_header {
    position: inherit;
}

.admin_header + article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    padding: var(--space-medium);
    background-color: #F9FAFB;
}

.this_vs_that {
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 30px;
    font-weight: 600;
    background: radial-gradient(circle, #91c1f0, #c8b7ed, #f2afd1, #ffb2ac, #f0c091);
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    animation: animatedTextGradient 3s linear infinite;
}

.admin_section {
    margin-bottom: var(--space-large);
    padding: 24px;
    background-color: var(--color-white);
    border-radius: var(--border-radius-popup);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.admin_section:first-child {
    width: 40%;
}

.admin_section:nth-child(2) {
    width: calc(60% - 16px);
}

.admin_top_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 45px;
}

.admin_top_box h2 {
    display: flex;
    align-items: center;
    height: var(--height-xlarge);
    font-size: 20px;
}

article .admin_section:nth-child(3) .admin_bottom_box, .keyword_box {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    padding: var(--space-medium);
    width: 100%;
    height: 200px;
    border: 1px solid #9DC79B;
    border-radius: var(--border-radius);
    overflow-y: auto;
}

.keyword_box {
    height: 200px;
}

.keyword {
    margin-right: var(--space-medium);
    margin-bottom: var(--space-medium);
    width: auto;
    height: 20px;
    line-height: 20px;
    padding: 9px 14px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-sizing: content-box;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

:is(.admin_selected, .choose_section:hover, .keyword:hover):not(:has(.report_post)) {
    border: 1px solid var(--main-color-orange);
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.19), 0 5px 5px rgba(0, 0, 0, 0.23);
}

.admin_add_box {
    display: flex;
    justify-content: end;
    margin-top: var(--space-large);
}

.admin_add_box form {
    display: flex;
}

.admin_add_box input {
    padding: 3px 5px;
    height: var(--height-xlarge);
}

#errorMsg {
    display:none;
}

.admin_section > div:nth-child(3) form {
    display: flex;
    justify-content: end;
    margin-top: var(--space-large);
}

.admin_top_box div form {
    display: flex;
}

:is(.admin_add_box, .admin_section > div:nth-child(3), .admin_top_box div) form button:last-of-type {
    margin-left: 15px;
}

.admin_top_box div form button {
    display: flex;
    align-items: center;
    height: var(--height-xlarge);
}

.admin_top_box div form button span {
    letter-spacing: -0.7px;
}

.admin_bottom_box {
    -ms-overflow-style: none;
}

.admin_bottom_box::-webkit-scrollbar {
    width: 20px;
}

.admin_bottom_box::-webkit-scrollbar-thumb {
    background-color: #9DC79B;
    border: 5px solid rgba(255,255,255,1);
    border-radius: 10px;
}

:is(.admin_bottom_box, .admin_choose_bottom_box p)::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

article .admin_section:nth-child(3) {
    margin-bottom: 6px;
    width: 100%;
}

article .admin_section:nth-child(3) .admin_bottom_box {
    height: 500px;
}

.admin_bottom_box [class^="admin_t"] {
    display: flex;
    align-items: center;
    width: 100%;
}

.admin_table {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border-spacing: 0;
    overflow-y: scroll;
}

:is(.admin_table, .admin_choose_bottom_box p)::-webkit-scrollbar {
    display: none;
}

.admin_table thead {
    position: sticky;
    top: 0;
}

.admin_table thead tr {
    height: 50px;
    background-color: var(--color-white);
    border-bottom: 2px solid #E5E7EB;
}

.admin_table tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.admin_table tbody tr {
    height: 43px;
    border-bottom: 1px solid #E5E7EB;
}

.bastard_user {
    transition: all 0.25s ease-in-out;
}

:is(.bastard_user.admin_selected, .bastard_user:hover) {
    background-color: #ffe6ce;
}

.bastard_user td {
    color: #bbb;
}

:is(.bastard_user.admin_selected, .bastard_user:hover) td {
    color: #333;
}

.admin_choose_top_box {
    flex-direction: column;
}

.admin_choose_top_img_box {
    display: flex;
}

.admin_choose_top_img_box img {
    width: 150px;
}

.admin_choose_top_box p {
    display: flex;
    margin: var(--space-medium) 0;
}

.report_post {
    margin-right: var(--space-medium);
    margin-bottom: var(--space-medium);
    max-width: 320px;
    transition: all 0.25s ease-in-out;
}

.admin_choose_top_box p span {
    display: block;
    width: 50%;
    text-align: center;
    color: var(--font-color-basic);
}

.admin_choose_bottom_box > p {
    margin-bottom: 20px;
    height: auto;
    max-height: 50px;
    overflow: auto;
}

.admin_choose_bottom_box p:nth-child(2) {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.admin_choose_bottom_box > p:first-child {
    max-height: 30px;
}

.admin_choose_bottom_box div {
    display: flex;
}

.admin_choose_bottom_box div p {
    margin-left: var(--space-small);
}

#adminPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#adminPopup .popup_top h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #ddd;
}

#adminPopup .popup_top a {
    top: 16px;
    right: 15px;
}

#adminPopup .popup_top a i {
    font-size: 20px;
    color: var(--font-color-basic);
}

#adminPopup .popup_box {
    height: 505px;
}

#reportedPostsContainer {
    display: flex;
    flex-wrap: wrap;
}

#adminPopup .popup_box .popup_bottom {
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
}

#adminPopup .popup_box .report_post {
    display: flex;
    flex-direction: column;
}

#adminPopup .popup_box .report_post .choose_top_box img {
    width: 150px;
}

#adminPopup .popup_box .popup_btn_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}


  @keyframes animatedTextGradient {
    to {
      background-position: 200% center;
    }
  }
/* admin - 장혜림 끝 */