@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/* index - 하진희 시작 */
header {
    z-index: 9;
}

.main_article {
    min-height: calc(100vh - 50px);
}

.search_form select {
    height: var(--height-large);
    border-radius: var(--border-radius);
    border: 1px solid #555;
}

.search_form input[type='text'] {
    width: calc(100% - 120px); /* 변경: 모바일 화면에서 돋보기 아이콘 아래로 떨어지는 문제 수정 */
/*    width: calc(100% - 115px);*/
    padding-left: 5px;  /* 변경: input 텍스트 왼쪽 여백 추가 */
}

.admin_top_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.keyword_box {
	display: flex;
	gap: 12px;
}

.keyword { /* 변경: 글쓰기 내의 버튼과 css 통일 */
    width: 58px;
    height: 36px;
	color: var(--font-color-basic);
	background: var(--main-color-gray-light);
	border-radius: var(--border-radius);
	box-shadow: none;
	cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
/*	padding: 10px;
	color: var(--font-color-basic);
	box-shadow: 0 0 0 2px #555 inset;
	border-radius: 20px;*/
}

.keyword.active {
    color: var(--color-white); /* 변경: 글쓰기 내의 버튼과 css 통일 */
    background: rgb(145,193,240);
    background: linear-gradient(90deg, rgba(145,193,240,1) 0%, rgba(240,192,145,1) 64%);
/*    color: #fff;
    background: rgb(145,193,240);
    background: linear-gradient(90deg, rgba(145,193,240,1) 0%, rgba(240,192,145,1) 64%);
    box-shadow : none;*/
}

#list_wrap .choose_top_box{
    gap: 10px
}

#list_wrap .choose_img_wrap {
    width: calc(50% - 5px);
    box-shadow: 0 0 0 1px #ddd inset;
    border-radius: var(--border-radius);
    height:200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose_img_wrap.is_img_wrap .choose_img.is_img {
    width: 100%;
    object-fit: cover;
}

.choose_img_wrap.is_img_wrap .choose_img, .choose_img_wrap .choose_img {
    height: 100%;
    width: auto;
    object-fit: contain;
    padding: 0;
}

.fixed {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* 아이콘 사이 간격 */
    z-indx: 666;
}

.fixed a {
    border-radius: 50%;
    background: rgb(145,193,240);
    background: linear-gradient(90deg, rgba(145,193,240,1) 0%, rgba(240,192,145,1) 64%);
    text-align: center;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #fff;
}

.margin_bottom5 {
    margin-bottom: 10px;
}

.margin_bottom10 {
    margin-bottom: 10px;
}

.margin_bottom10 input {
    padding-left: 5px;  /* 변경: input 텍스트 왼쪽 여백 추가 */
    padding-right: 5px;  /* 변경: input 텍스트 오른쪽 여백 추가 */
}

.margin_bottom15 {
    margin-bottom: 15px;
}

.margin_bottom20 {
    margin-bottom: 20px;
}

.margin_right10 {
    margin-right : 10px;
}

.width100 {
    width: 100%;
}

.font14 {
    font-size: 14px;
}

.text-center {
    text-align: center
}

.hidden {
    display: none;
}

.post_section_bottom a { /* 변경: a 태그 색상 */
    color: var(--font-color-gray);
}

.post_section_bottom a.font_weight_bold { /* 변경: a 태그 */
    font-weight : bold;
}

/*.font_weight_bold {
    font-weight : bold;
}*/

.position_relative{
    position: relative;
    z-index: 0;
}

.vote_status {
    display: inline-block;
    padding: 6px 5px;
    border-radius: var(--border-radius);
    position: absolute;
    top: 2px;
    left:3px;
}

.vote_status.vote_ing{
    color: #fff;
    background: rgb(145,193,240);
    background: linear-gradient(90deg, rgba(145,193,240,1) 0%, rgba(240,192,145,1) 64%);
    box-shadow : none;
}

.vote_status.vote_finished{
    background: #ddd;
    color: var(--font-color-basic);
}

#end_message, #no_posts_message {
    display: none;
    text-align: center;
}

/* post write에서 가져온 css */
.post_list_popup_box {
    width: 368px;
    height: 410px;
}

.popup_content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup_top a {
    cursor: pointer;
}

.popup_content label {
    font-weight: 600;
    margin-bottom: 10px;
}

.popup_content input {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #AFB1B6;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 20px;
}

.btn_ok_box {
    display: flex;
    justify-content: center;
}
/* index - 하진희 끝 */