/* myPage 시작 */
.myPage_section {
	padding-bottom: var(--height-small); /* 24px */
	padding-top: var(--font-size);
	margin-bottom: var(--font-size); /* 14px */
	border-bottom: 1px solid black;
}

.myPage_section h2 {
	font-size: 20px;
	padding-bottom: var(--height-small); /* 24px */
}

.myPage_bottom {
	display: flex;
	gap: 10px;
	padding-bottom: var(--font-size); /* 14px */
	font-size: var(--font-size-large); /* 16px */
	line-height: var(--height-large); /* h3 가운데 정렬1 */
	text-align: center; /* h3 가운데 정렬2 */
}

.myPage_bottom h3 {
	font-weight: bold;
}

#nicknameForm {
    display: flex;
    gap: 10px;
}
/* history 끝 */