/* post - 작은선아 시작 */

/* createPost.html 시작 */
.post_create_section {
    margin-bottom: 20px;
}

.post_create_section h2 {
    margin-bottom: 10px;
}

.keyword_box {
    display: flex;
    gap: 10px;
}

.keyword {
    padding-top: 9px;
    width: 58px;
    height: 36px;
    background-color: #EFEFF0;
    border-radius: 8px;
    box-shadow: none;
    text-align: center;
}

.keyword.selected {
    background: linear-gradient(90deg, #91C1F0 0%, #F0C091 100%);
    color: white;
}

.post_create_input input {
    width: 100%;
    height: 48px;
    border: 1px solid #AFB1B6;
    padding-left: 10px;
}

.post_create_textarea textarea {
    width: 100%;
    height: 130px;
    border: 1px solid #AFB1B6;
    padding-left: 10px;
}

.post_choose_section {
    width: 100%;
    border-radius: var(--border-radius);
}

.choose_top_box a img {
    width: 185px;
    height: 212px;
    border: 1px solid #AFB1B6;
}

.post_img_description {
    margin-bottom: 30px;
}

.post_create_popup_box {
    width: 368px;
    height: 350px;
}

.popup_content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup_top span {
    color: black;
    padding-top: 11px;
    padding-left: 20px;
}

.popup_content label {
    font-weight: 600;
    margin-bottom: 10px;
}

.popup_content input {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #AFB1B6;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 20px;
}

.btn_ok_box {
    display: flex;
    justify-content: center;
}

.post_create_ok_btn {
    color: black;
}

.post_create_submit_btn {
    width: 382px;
    height: 48px;
    background-color: #EFEFF0;
    text-align: center;
    color: var(--font-color-basic);
}
/* createPost.html 끝 */

/* postDetail.html 시작 */
.post_detail_title{
    border-bottom: 1px solid #AFB1B6;
    width: 100%;
    padding: 10px;
    font-weight: 700;
}

.post_detail_content {
    margin-bottom: 50px;
    padding-left: 10px;
}

.hashtag {
    color: #1E8975;
    font-weight: bold;
    text-decoration: none;
    display: contents;
}

.hashtag:hover {
    text-decoration: underline;
}

.choose_top_box img {
    transition: all 0.3s ease-in-out;
}

.choose_top_box img.selected {
    width: 190px;
    height: 217px;
    opacity: 1;
}

.choose_top_box img.dimmed {
    width: 175px;
    height: 195px;
    opacity: 0.3;
}

.btn_box {
    margin-top: 20px;
    margin-bottom: 40px;
}

.post_detail_progress_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post_detail_progress_top a {
    text-decoration-line: underline;
    color: #C42323;
}

.post_detail_progress_bottom {
    margin-bottom: 60px;
}


.progress-container {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    height: 25px;
    position: relative;
    margin-top: 15px;
}

.progress-bar {
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 14px;
    transition: width 0.5s ease;
    min-width: 10%;
}

.option1 {
    background-color: #90CAF9;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.option2 {
    background-color: #FFCC80;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.post_detail_btn {
    width: 90px;
    text-align: center;
}

.post_detail_update_btn, .post_detail_delete_btn {
    color: black;
    margin-right: 5px;
}
/* postDetail.html 끝 */

/* updatePost.html 시작 */
/* updatePost.html 끝 */

/* post - 작은선아 끝*/