.popup_header {
    position: relative;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--main-color-gray);
    font-size: var(--font-size-xlarge);
    color: var(--main-color-black);
}

.close_popup_btn {
    position: absolute;
    right: 10px;
}

.toast_popup_content{
    text-align: center;
}

.profile_image_wrapper {
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    margin: 15px auto 0 auto;
}

.profile_image {
    border-radius: 50%;
    border: 0.5px solid #e2e1e0;
}

.image_edit_icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #C2C2C2;
    opacity: 80%;
    padding: 5px;
    color: var(--color-white);
    border-radius: 50%;
}

.chat_nickname_input {
    border: none;
    border-bottom: 1px solid var(--font-color-gray);
    outline: none;
    border-radius: 0;
    text-align: center;
    width: 210px;
    color: var(--font-color-gray);
    font-size: var(--font-size-large);
    margin-top: 1px;
}

.char_count_display {
    display: flex;
    font-size: var(--font-size-small);
    width: 210px;
    margin: auto;
    justify-content: flex-end;
    color: var(--font-color-gray);
}

.ninckname_length{
    font-size: var(--font-size-small);
    color: var(--font-color-gray);
}

.btn_join_chat {
    margin: 5px auto 15px auto;
    background-color: var(--font-color-gray);
    font-size: var(--font-size-medium);
    background-color: var(--main-color-brown);
}